/* Fuentes */
@font-face {
    font-family: 'Young Serif';
    src: url('../assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Outfit';
    src: url('../assets/fonts/outfit/Outfit-VariableFont_wght.ttf') format('truetype');
}

/* Estilos globales */
:root {
    --background-white: hsl(0, 0%, 100%);
    --stone-100: hsl(30, 54%, 90%);
    --stone-150: hsl(30, 18%, 87%);
    --stone-600: hsl(30, 10%, 34%);
    --stone-900: hsl(24, 5%, 18%);
    --brown-800: hsl(14, 45%, 36%);
    --rose-800: hsl(332, 51%, 32%);
    --rose-50: hsl(330, 100%, 98%);
    --separator-gap: 3.3rem;
    --paragraph-size: 1.6rem;
    --principal-title-size: 3.6rem;
    --secondary-title-size: 2.8rem;
    --terciary-title-size: 2rem;
}

*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: transparent;
    border: none;
}

html {
    font-size: 62.5%;
}

body {
    line-height: 1.5;
    font-family: 'Outfit', Arial;
}

h1, h2 {
    font-family: 'Young Serif', 'Outfit',Arial;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: var(--principal-title-size);
}

h2 {
    font-size: var(--secondary-title-size);
}

h3 {
    font-size: var(--terciary-title-size);
}

p, h3, h4, h5, h6 {
    font-family: 'Outfit', Arial;
}

p, ul, ol, table {
    font-size: var(--paragraph-size);
}

ul, ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, textarea, button, select {
    font-family: inherit;
    font-size: inherit;
    margin: 0;
    padding: 0;
}

/* Frontendmentor Attribution */
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }