.recipe {
    background-color: var(--background-white);
    width: 100%;
    max-width: 73.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.8rem;
    .recipe__header{
        width: 100%;

        .header__image {
            width: 100%;
        }

        .header__content{
            display: flex;
            flex-direction: column;
            gap: 2.8rem;
            padding: 4rem 3.2rem 0 3.2rem;
        }
    }

    .recipe__content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 3.3rem;
        padding: 0 3.2rem 4rem 3.2rem;

        .recipe__preparation-time{
            width: 100%;
            background-color: var(--rose-50);
            border-radius: 1.25rem;
            padding: 2.5rem;

            .preparation-time__title{
                margin-bottom: 2rem;
            }

            .preparation-time__list li::before{
                color: var(--rose-800);
            }

        }

        .recipe__ingredients{
            .ingredients__list li::before{
                color: var(--brown-800)
            }
        }

        .recipe__instrucions{
            .instructions__list li::before{
                color:var(--brown-800)
            }
        }

        .recipe__nutrition{
            .nutrition__description{
                margin-bottom: 1.4rem;
            }

            .nutrition__table{
                width: 100%;

                .nutrition__table-row{
                    border-bottom: 1px solid var(--stone-150);
                    
                    .nutrition__table-data {
                        padding: .5rem 0 .5rem 0;
                    }

                    .nutrition__table-data:not(:has(> b:first-child)) {
                        padding-left: 3.2rem;
                    }
                }
            }
        }
    }
}